@model Deal

<form method="post" asp-action="Delete">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Удалить запись из таблицы "Актив"</h2>
			<hr />
		</div>
		<div class="mb-3" hidden>
			<label asp-for="Deal_id"></label>
			<input asp-for="Deal_id" class="form-control" />
			<span asp-validation-for="Deal_id" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="ISIN_id"></label>
			<input asp-for="ISIN_id" class="form-control" ReadOnly="true"/>
			<span asp-validation-for="ISIN_id" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="DT"></label>
			<input asp-for="DT" class="form-control" ReadOnly="true" />
			<span asp-validation-for="DT" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Count"></label>
			<input asp-for="Count" class="form-control" ReadOnly="true" />
			<span asp-validation-for="Count" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Price"></label>
			<input asp-for="Price" class="form-control" ReadOnly="true"/>
			<span asp-validation-for="Price" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Удалить</button>
		<a asp-controller="Deal" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Назад
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}

