@model TypeOfActive

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Создать запись в таблице "Тип Актива"</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="Type"></label>
			<input asp-for="Type" class="form-control" />
			<span asp-validation-for="Type" class="text-danger"></span>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Создать</button>
		<a asp-controller="TypeOfActive" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Назад
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
