@model FinanceBag.ViewModel.AnaliticsViewModel
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification"/>
<h1 align="center">Аналитика портфеля</h1>
@*<h6>Кол-во унивкальных бумаг : @Model.All.Count()</h6>*@



<table style="width:100%">
  <tr>
    <td>
        <table class="table table-bordered table-striped" style="width:100%" >
            <thead>
                <tr>
                    <th>
                        Тип Актива
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var item in Model.vmType)
               {
                    <tr>
                        <td>@item</td>
                    </tr>
               }
           </tbody>
        </table>
    </td>

    <td>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Тикер
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var item in Model.vmTicker)
               {
                    <tr>
                        <td>@item</td>
                    </tr>
               }
           </tbody>
        </table>
    </td>

    <td>
        <table class="table table-bordered table-striped" style="width:100%">
            <thead>
                <tr>
                    <th>
                        Тип Актива
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var item in Model.vmISIN)
               {
                    <tr>
                        <td>@item</td>
                    </tr>
               }
           </tbody>
        </table>
    </td>
  </tr>
</table>