@model FinanceBag.ViewModel.AllTables
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification"/>
<h1>Аналитика портфеля</h1>
<h6>Кол-во записей в таблице : @Model.All.Count()</h6>
<div class="container p-3">
    <div class="row pt-4">
        <div class="col-12 text-end">
            <a asp-controller="Active" asp-action="Create" class="btn btn-primary">
               <i class="bi bi-plus-circle"></i> &nbsp; Создать Актив
            </a>
        </div>
    </div>
    <br /><br />

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Первичный ключ - ISIN
            </th>
            <th>
                Тикер 
            </th>
            <th>
                Тип актива
            </th>
            <th>
                Действие
            </th>
        </tr>
    </thead>
    <tbody>
@*            @foreach (var obj in )
            {
                    <tr>
                        <td width="20%">
                        @obj
                        </td>
                    </tr>
            }*@
    </tbody>
</table>
</div>