@model FinanceBag.ViewModel.GroupByNameViewModel
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification"/>
<h1 align="center">Сумма затрат по месяцам</h1>

<h6>Кол-во записей : @Model.vM_Date.Count()</h6>

<table style="width:auto">
  <tr>
    <td>
        <table class="table table-bordered table-striped" style="width:auto" >
            <thead>
                <tr>
                    <th>
                        Месяц/Год
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var item in Model.vM_Date)
               {
                    <tr>
                        <td>@item</td>
                    </tr>
               }
           </tbody>
        </table>
    </td>

    <td>
        <table class="table table-bordered table-striped" style="width:auto">
            <thead>
                <tr>
                    <th>
                        Затраты
                    </th>
                </tr>
            </thead>
            <tbody>
               @foreach(var item in Model.vM_Cost)
               {
                    <tr>
                        <td>@item</td>
                    </tr>
               }
           </tbody>
        </table>
    </td>
  </tr>
</table>