@model IEnumerable<FinanceBag.ViewModel.GroupByMonthViewModel>
@{
    ViewData["Title"] = "Index";
}
<partial name="_Notification"/>
<h4> Общие затраты по месяцам</h4>
<p></p>

<table class="table table-bordered table-striped" style="width:100%">
    <thead>
        <tr>
            <th>
                Месяц-Год
            </th>
            <th>
                Затраты в рублях
            </th>
        </tr>
    </thead>
    <tbody>
            @foreach (var obj in Model)
            {
                    <tr>
                            <td width="20%">
                        @obj.vM_Date
                        </td>
                            <td width="50%">
                        @obj.vM_Cost
                        </td>
                    </tr>
            }
    </tbody>
</table>
</div>