@model Active

<form method="post">
	<div class="border p-3 mt-4">
		<div class="row pb-2">
			<h2 class="text-primary">Создать запись в таблице "Актив"</h2>
			<hr />
		</div>
		<div class="mb-3">
			<label asp-for="ISIN_id"></label>
			<input asp-for="ISIN_id" class="form-control" />
			<span asp-validation-for="ISIN_id" class="text-danger"></span>
		</div>
		<div class="mb-3">
			<label asp-for="Ticker"></label>
			<input asp-for="Ticker" class="form-control" />
			<span asp-validation-for="Ticker" class="text-danger"></span>
		</div>
		<div class="form-group">  
			<label asp-for="TypeOfActive_id"></label>
			<div>		
				@Html.DropDownListFor(m => m.TypeOfActive_id, new SelectList(ViewBag.Type, "TypeOfActive_id", "Type"), htmlAttributes: new { @class = "form-control" })
				@Html.ValidationMessageFor(m => m.TypeOfActive_id)
			</div>
		</div>
		<button type="submit" class="btn btn-primary" style="width:150px">Создать</button>
		<a asp-controller="Active" asp-action="Index" class="btn btn-secondary" style="width:150px">
			Назад
		</a>
	</div>
</form>

@section Scripts{
	@{
		<partial name="_ValidationScriptsPartial" />
	}
	}
